*{
    padding: 0;
    margin: 0;
}
.login-form{
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    height: 100vh;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    /* background-image: url(../../pictures/logo/restobar1.jpg); */
    background-repeat: no-repeat;
    width: 100vw;
    background-size: cover;
  }



  input[type="text"],
  input[type="password"] {
    height: 35px;
    width: 300px;
    border: 2px solid rgba(1, 0, 15, 0.2);
  }

  input[type="submit"] {
    margin-top: 10px;
    cursor: pointer;
    font-size: 15px;
    background: #0127d2;
    border: 1px solid #494b4a;
    color: white;
    padding: 10px 20px;
  }


  input[type="submit"]:hover {
    background: #5bdb05;
  }

  .button-container {
    display: flex;
    justify-content: center;
  }

  .login-form {
    /* background-color: rgb(245, 10, 10); */
    padding: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .list-container {
    display: flex;
  }

  .error {
    color: red;
    font-size: 12px;
  }

  .title {
    font-size: 45px;
    margin-bottom: 6px;
    text-decoration-color: rgb(18, 18, 236);
  }

  .input-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 10px;
  }

  .button{
    align-items: center;
  }

  .login-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
